<div class="btn-group">
    <label class="btn btn-info btn-cirle btn-lg" ng-model="model.project" btn-radio="'ACM'">ACM</label>
    <label class="btn btn-info btn-cirle btn-lg" ng-model="model.project" btn-radio="'ACA'">ACA</label>
    <label class="btn btn-info btn-cirle btn-lg" ng-model="model.project" btn-radio="'Other'">Other</label>
    <label class="btn btn-warning btn-cirle btn-lg" ng-model="model.billable" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-init="model.billable=false"><i class="fa fa-dollar"></i> L3</label>
</div>
