<div id="dialog">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard <small> Add Details</small></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <form name="track">
                <div class="panel-heading">
                    Add Details to Task {{detail.track}}
                    <small>
                        The description should add relevant information to the selected project task. The text
                        will be parsed as Markdown which enables you to write less markup code. Markdown information
                        is available <a href="https://help.github.com/articles/markdown-basics/" target="_blank">here</a>.
                    </small>
                </div>
                <div class="panel-body">
                    <h4>Track for {{main.date}}</h4>
                    <projectButtons prefix="track"/>
                    <input type="text" ng-model="track.name" ng-init="track.name"/>

                    <h4>Description</h4>
                    <textarea class="form-control" placeholder="Enter a description for the last period of time in markdown language.
# Header 1
## Header 2
...
###### Header 6

*italic text*
**bold text**

    unordered list:         ordered list:       nested list:
    * item 1                  1. item 1           1. item 1
    * item 2                  2. item 2             - item A
    * item 3                  3. item 3           2. item 2
                                                             * item A
    - item 1
    - item 2
    - item 3" ng-model="task.details" rows="10"></textarea>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-info btn-circle btn-lg" ng-disabled="track.$invalid" ng-click="detail.addTask(track,task)"><i class="fa fa-check"></i> </button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>